@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  padding: 10px;
  width: 380px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.header {
  width: 360px;
  height: 200px;
  background-image: url('../images/bg-5.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}

.refresh-todo {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.refresh-todo i {
  font-size: 25px;
  transition: 0.2s ease;
  color: #212529;
}

.refresh-todo i:hover {
  cursor: pointer;
  transform: scale(0.98) rotate(45deg);
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  width: 200px;
  height: 40px;
}

/* -----content----- */
.content {
  width: 360px;
  height: 350px;
  background-color: #fff;
  overflow: auto;
}

.content ul {
  padding: 0;
  margin: 0;
}

.item {
  width: 360px;
  height: 45px;
  min-height: 45px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}

.item i.co {
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 15px;
  color: #000;
}

.item p.text {
  position: absolute;
  font-size: 20px;
  margin: 0;
  padding: 0;
  top: 7px;
  left: 50px;
  background-color: #fff;
}

.item p.line-through {
  text-decoration: line-through;
  color: #ccc;
}

.item i.co:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.item i.de {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 15px;
  color: #000;
}

.item i.de:hover {
  transform: scale(1.02);
  cursor: pointer;
  color: grey;
}

/* -----add item----- */
.add-to-do {
  width: 360px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.add-to-do i {
  position: absolute;
  font-size: 30px;
  color: #6c757d;
}

.add-to-do input {
  position: absolute;
  left: 50px;
  top: 10px;
  height: 30px;
  width: 300px;
  border: none;
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
}
